.more{
    position: fixed;
    bottom: 4.25rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #4d4d4d;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    padding: 0 0 1.5rem 0;
    transition: bottom 2s ease;
    z-index: 1000;
    button{
      background-color: #4d4d4d;
      border: none;
    }
    .hide{
        bottom: -20rem;
    }
}
.action{
    display: flex;
    padding: 1rem;
    gap: 0.5rem;
    font-weight: bold;
    transition: background-color 300ms ease;
}
.action:hover{
     background-color: #5d5d5d;
}


.holdButton{
    display: flex;
    justify-content: center; 
    padding: 0.4rem 0 1rem 0;
    width: 100%;
}

.holdMore{
    width: 50px;
    height: 4px;
    background: #fff;
    border-radius: 16px;
}