.footer{
    background-color: var(--header-footer-bg-color);
    
    position: fixed;
    bottom: 0;

    display: flex;
    justify-items: center;
    justify-content: center;


    height: 4.25rem;
    width: 100%;

    gap: 2.5rem;

    z-index: 1000;

    button:hover{
        cursor: pointer;
        opacity: 60%;
    }
}