.DateContainer{
    position: relative;
}

.DateBox{
    position: absolute;
    /* Uso de flex para centralizar a props "date" */
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.85rem;
    
    width: 6rem;
    height: 2.25rem;
    border-radius: 8px;
    
    background-color:#9333ea;
    
    transform: translateX(55%);
    bottom: 1.15rem;
    
    box-shadow: 0 3px 5px rgb(0, 0, 0, 0.25);
    
}


.DateBoxArrow{
    position: absolute;
    
    height: 0.5rem;
    width: 0.5rem;
    
    background-color:#9333ea;
    
    right: 1.95rem;
    bottom: 0.9rem;
    transform: rotate(45deg);
}