@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.header{
    background-color: #1d1d1d;

    position: fixed;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    width: 100%;
    height: 4rem;

    z-index: 1000;

    p{
        font-family: "Barrio", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
    }

    button{
        size: 1.5rem
    }

    button:hover{
        cursor: pointer;
        opacity: 60%;
    }
}

