.ButtomSubmitCardFeed{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 7.25rem;
    height: 2rem;
    border-radius: 4px;
    
    background-color: var(--submit-bg-color);
    
    gap: 0.45rem;
    font-weight: bold;
    
    color: black;

    user-select: none;

}

.ButtomSubmitCardFeed:hover {    
    cursor: pointer;
}

.ButtomSubmitCardFeed:active{
    position: relative;
    top: 2px
}
