@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.infoCardFeed{
    color: #fff;
    
    margin: 0.85rem 0 0 1rem;

    font-family: "Roboto", sans-serif;
}

.infoCardFeed h1{
    font-size: 1.5rem;
    line-height: 2.25rem;

    font-weight: bold;
}

.infoCardFeed p{
    display: flex;
    
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1.15rem;


    
    gap: 0.2rem;
}

.opacityController{
    opacity: 0;
    
    pointer-events: none;
    
    transition: 0.15s ease-in-out;
}

.date{
    width: 10rem;

    p{
        font-size: 0.9rem;
    }
}

.date:hover .opacityController{
    opacity: 1;
    
    pointer-events: auto;

}







