@import "tailwindcss";


:root {
  --background: #3E7B43;
  --foreground: #FFFFFF;


  --card-light: #A682B4;
  --card-dark: rgb(var(--card-light));

  font-size: clamp(10px, 2vw, 16px);
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #FFFFFF;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
