@import "tailwindcss";


:root {
  --background: #3E7B43;
  --foreground: #FFFFFF;

  --header-footer-bg-color: #1D361F;
  
  --bg-card: #A682B4;
  --tag-bg-card: #F6E373;
  --tag-color-card: #000;
  --submit-bg-color: #F6E373;
  --more-bg-color: #2D462F;
  --more-hover-color: #3D563F;
  --percent-bg-color: #fff7d6;
  
  
  font-size: clamp(10px, 2vw, 16px);
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #FFFFFF;
    
    --header-footer-bg-color: #1d1d1d;
    
    --bg-card: #4d4d4d;
    --tag-bg-card: #2d2d2d;
    --tag-color-card: #fff;
    --submit-bg-color: #BD86FC;
    --more-bg-color: #2d2d2d;
    --more-hover-color: #3d3d3d;
    --percent-bg-color: #2d2d2d;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
