.bodyCardFeed{
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    
    height: 24rem;
    width: 30rem;
    border-radius: 4px;
    
    background-color: #4d4d4d;
    
}

.fullContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 5;
}

.moreButton{
    position: absolute;
    top: 55%;
    right: 0.8rem;
    cursor: pointer;
}


.tagsCardFeed{
    display: flex;
    
    padding: 0.25rem 0 0 1rem;
    gap: 0.65rem;
}

.tagsCardFeed p{
    
    color: #fff;
    font-size: 0.75rem;
    text-align: center;
    
    border-radius: 2px;
    
    padding: 0 1rem ;
    
    background-color: #2d2d2d;
}
