.PercentCardFeed{
    display: flex;
    position: absolute;
    
    width: 6.25rem;
    height: 1.55rem;
    border-radius: 4px;
    
    margin: 1rem;

    background-color: var(--percent-bg-color);

    align-items: center;
    justify-content: center;

    box-shadow: 0 0 15px 1px var(--cor-dinamica);
}

.PercentCardFeed span{
    font-size: 0.85rem;
    font-weight: bold;
    color: var(--cor-dinamica);
}